# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
list_temp=pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02])
list_temp

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:
# seu código aqui
list_tempIndex=pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02], index=[1900,1920,1940,1960,1980,2000,2020])
                       
list_tempIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

dic_temp = pd.Series(dic_temperaturas)
dic_temp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))
arr

array([[ 96.84804879, 121.76852585, 107.44030904],
       [ 92.61400695, 104.05422686,  87.50880529],
       [ 93.27338895, 102.40227433, 102.13814481],
       [108.18199541, 100.72200826,  86.13364152],
       [120.40009836,  96.5122191 ,  77.50709129],
       [111.07837272, 110.33607131,  97.64920475],
       [ 99.62849372,  93.61757655, 117.92007849],
       [ 98.06501002,  94.11205992, 102.79093915],
       [101.31156042, 104.86718973,  95.1524304 ],
       [101.66598279, 112.97800311,  97.69635436],
       [ 91.24468038, 115.60912082,  77.11476369],
       [ 92.85010132,  96.89312444, 103.32823366],
       [ 92.69124767, 108.63036799,  96.33602537],
       [ 95.45158906,  94.05014685,  92.26398841],
       [111.70372546,  94.04797647,  83.37140053],
       [ 95.96579003, 102.21753582, 105.91283867],
       [ 88.65789193, 118.51528482, 101.9414117 ],
       [ 93.48965117,  78.95032617,  85.92310675],
       [ 90.9050391 ,  94.13047522, 106.16191976],
       [109.92656388,  87.75413881, 120.25713007]])

In [5]:
# seu código aqui
pd.DataFrame(arr)

             0           1           2
0    96.848049  121.768526  107.440309
1    92.614007  104.054227   87.508805
2    93.273389  102.402274  102.138145
3   108.181995  100.722008   86.133642
4   120.400098   96.512219   77.507091
5   111.078373  110.336071   97.649205
6    99.628494   93.617577  117.920078
7    98.065010   94.112060  102.790939
8   101.311560  104.867190   95.152430
9   101.665983  112.978003   97.696354
10   91.244680  115.609121   77.114764
11   92.850101   96.893124  103.328234
12   92.691248  108.630368   96.336025
13   95.451589   94.050147   92.263988
14  111.703725   94.047976   83.371401
15   95.965790  102.217536  105.912839
16   88.657892  118.515285  101.941412
17   93.489651   78.950326   85.923107
18   90.905039   94.130475  106.161920
19  109.926564   87.754139  120.257130

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [6]:
#seu código aqui
arr_df=pd.DataFrame(arr,
                    columns=['X1','X2','X3'],
                    index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
arr_df

            X1          X2          X3
1    96.848049  121.768526  107.440309
2    92.614007  104.054227   87.508805
3    93.273389  102.402274  102.138145
4   108.181995  100.722008   86.133642
5   120.400098   96.512219   77.507091
6   111.078373  110.336071   97.649205
7    99.628494   93.617577  117.920078
8    98.065010   94.112060  102.790939
9   101.311560  104.867190   95.152430
10  101.665983  112.978003   97.696354
11   91.244680  115.609121   77.114764
12   92.850101   96.893124  103.328234
13   92.691248  108.630368   96.336025
14   95.451589   94.050147   92.263988
15  111.703725   94.047976   83.371401
16   95.965790  102.217536  105.912839
17   88.657892  118.515285  101.941412
18   93.489651   78.950326   85.923107
19   90.905039   94.130475  106.161920
20  109.926564   87.754139  120.257130

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [7]:
# seu código aqui
arr_df['Media'] = (arr_df['X1'] + arr_df['X2']+arr_df['X3'])/3
arr_df

            X1          X2          X3       Media
1    96.848049  121.768526  107.440309  108.685628
2    92.614007  104.054227   87.508805   94.725680
3    93.273389  102.402274  102.138145   99.271269
4   108.181995  100.722008   86.133642   98.345882
5   120.400098   96.512219   77.507091   98.139803
6   111.078373  110.336071   97.649205  106.354550
7    99.628494   93.617577  117.920078  103.722050
8    98.065010   94.112060  102.790939   98.322670
9   101.311560  104.867190   95.152430  100.443727
10  101.665983  112.978003   97.696354  104.113447
11   91.244680  115.609121   77.114764   94.656188
12   92.850101   96.893124  103.328234   97.690486
13   92.691248  108.630368   96.336025   99.219214
14   95.451589   94.050147   92.263988   93.921908
15  111.703725   94.047976   83.371401   96.374367
16   95.965790  102.217536  105.912839  101.365388
17   88.657892  118.515285  101.941412  103.038196
18   93.489651   78.950326   85.923107   86.121028
19   90.905039   94.130475  106.161920   97.065811
20  109.926564   87.754139  120.257130  105.979278

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [8]:
# seu código aqui
arr_df['log_med'] = np.log(arr_df['Media']) 
arr_df

            X1          X2          X3       Media   log_med
1    96.848049  121.768526  107.440309  108.685628  4.688460
2    92.614007  104.054227   87.508805   94.725680  4.550985
3    93.273389  102.402274  102.138145   99.271269  4.597856
4   108.181995  100.722008   86.133642   98.345882  4.588491
5   120.400098   96.512219   77.507091   98.139803  4.586393
6   111.078373  110.336071   97.649205  106.354550  4.666778
7    99.628494   93.617577  117.920078  103.722050  4.641715
8    98.065010   94.112060  102.790939   98.322670  4.588255
9   101.311560  104.867190   95.152430  100.443727  4.609598
10  101.665983  112.978003   97.696354  104.113447  4.645481
11   91.244680  115.609121   77.114764   94.656188  4.550251
12   92.850101   96.893124  103.328234   97.690486  4.581804
13   92.691248  108.630368   96.336025   99.219214  4.597332
14   95.451589   94.050147   92.263988   93.921908  4.542464
15  111.703725   94.047976   83.371401   96.374367  4.568240
16   95.965790  102.217536  105.912839  101.365388  4.618732
17   88.657892  118.515285  101.941412  103.038196  4.635100
18   93.489651   78.950326   85.923107   86.121028  4.455754
19   90.905039   94.130475  106.161920   97.065811  4.575389
20  109.926564   87.754139  120.257130  105.979278  4.663244