# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
list_temp=pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02])
list_temp

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:
# seu código aqui
list_tempIndex=pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02], index=[1900,1920,1940,1960,1980,2000,2020])
                       
list_tempIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

dic_temp = pd.Series(dic_temperaturas)
dic_temp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))
arr

array([[ 91.31056794,  94.75139768, 106.19254347],
       [ 90.384048  ,  97.42298664, 104.04189407],
       [ 83.07303872, 101.7461052 ,  91.45136376],
       [109.90861735, 100.9806054 ,  93.69925518],
       [ 89.8656575 , 104.86821876,  96.00330508],
       [ 98.90161167,  77.55514752, 118.35496848],
       [106.36350416,  84.45612824,  92.46953241],
       [107.74039708,  98.0518382 ,  99.17161525],
       [110.20876833, 101.11286261,  94.47165701],
       [ 97.37548938,  92.8237108 , 109.8749618 ],
       [ 98.32088252, 108.71955675,  82.68360323],
       [107.56944854, 118.08588781,  91.2982148 ],
       [111.78920084,  93.77591368,  93.46608506],
       [ 99.81554983, 107.95572166,  80.81711257],
       [ 98.47241117, 101.55429657, 103.92590692],
       [113.32107187,  82.15024135, 109.02009123],
       [ 94.66791099,  91.06967403,  97.2598653 ],
       [ 87.27932369,  88.05451428, 101.57178671],
       [104.76777294,  91.33134794,  97.79818011],
       [ 99.65003464,  89.59129864, 101.23265471]])

In [5]:
# seu código aqui
pd.DataFrame(arr)

             0           1           2
0    91.310568   94.751398  106.192543
1    90.384048   97.422987  104.041894
2    83.073039  101.746105   91.451364
3   109.908617  100.980605   93.699255
4    89.865657  104.868219   96.003305
5    98.901612   77.555148  118.354968
6   106.363504   84.456128   92.469532
7   107.740397   98.051838   99.171615
8   110.208768  101.112863   94.471657
9    97.375489   92.823711  109.874962
10   98.320883  108.719557   82.683603
11  107.569449  118.085888   91.298215
12  111.789201   93.775914   93.466085
13   99.815550  107.955722   80.817113
14   98.472411  101.554297  103.925907
15  113.321072   82.150241  109.020091
16   94.667911   91.069674   97.259865
17   87.279324   88.054514  101.571787
18  104.767773   91.331348   97.798180
19   99.650035   89.591299  101.232655

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [10]:
#seu código aqui
arr=pd.DataFrame(arr,
                    columns=['X1','X2','X3'],
                    index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
arr

            X1          X2          X3
1    91.310568   94.751398  106.192543
2    90.384048   97.422987  104.041894
3    83.073039  101.746105   91.451364
4   109.908617  100.980605   93.699255
5    89.865657  104.868219   96.003305
6    98.901612   77.555148  118.354968
7   106.363504   84.456128   92.469532
8   107.740397   98.051838   99.171615
9   110.208768  101.112863   94.471657
10   97.375489   92.823711  109.874962
11   98.320883  108.719557   82.683603
12  107.569449  118.085888   91.298215
13  111.789201   93.775914   93.466085
14   99.815550  107.955722   80.817113
15   98.472411  101.554297  103.925907
16  113.321072   82.150241  109.020091
17   94.667911   91.069674   97.259865
18   87.279324   88.054514  101.571787
19  104.767773   91.331348   97.798180
20   99.650035   89.591299  101.232655

In [ ]:
arr = arr.rename

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [7]:
# seu código aqui
arr_df['Media'] = (arr_df['X1'] + arr_df['X2']+arr_df['X3'])/3
arr_df

            X1          X2          X3       Media
1    91.310568   94.751398  106.192543   97.418170
2    90.384048   97.422987  104.041894   97.282976
3    83.073039  101.746105   91.451364   92.090169
4   109.908617  100.980605   93.699255  101.529493
5    89.865657  104.868219   96.003305   96.912394
6    98.901612   77.555148  118.354968   98.270576
7   106.363504   84.456128   92.469532   94.429722
8   107.740397   98.051838   99.171615  101.654617
9   110.208768  101.112863   94.471657  101.931096
10   97.375489   92.823711  109.874962  100.024721
11   98.320883  108.719557   82.683603   96.574681
12  107.569449  118.085888   91.298215  105.651184
13  111.789201   93.775914   93.466085   99.677067
14   99.815550  107.955722   80.817113   96.196128
15   98.472411  101.554297  103.925907  101.317538
16  113.321072   82.150241  109.020091  101.497135
17   94.667911   91.069674   97.259865   94.332483
18   87.279324   88.054514  101.571787   92.301875
19  104.767773   91.331348   97.798180   97.965767
20   99.650035   89.591299  101.232655   96.824663

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [8]:
# seu código aqui
arr_df['log_med'] = np.log(arr_df['Media']) 
arr_df

            X1          X2          X3       Media   log_med
1    91.310568   94.751398  106.192543   97.418170  4.579013
2    90.384048   97.422987  104.041894   97.282976  4.577624
3    83.073039  101.746105   91.451364   92.090169  4.522768
4   109.908617  100.980605   93.699255  101.529493  4.620349
5    89.865657  104.868219   96.003305   96.912394  4.573807
6    98.901612   77.555148  118.354968   98.270576  4.587725
7   106.363504   84.456128   92.469532   94.429722  4.547856
8   107.740397   98.051838   99.171615  101.654617  4.621581
9   110.208768  101.112863   94.471657  101.931096  4.624297
10   97.375489   92.823711  109.874962  100.024721  4.605417
11   98.320883  108.719557   82.683603   96.574681  4.570317
12  107.569449  118.085888   91.298215  105.651184  4.660143
13  111.789201   93.775914   93.466085   99.677067  4.601936
14   99.815550  107.955722   80.817113   96.196128  4.566389
15   98.472411  101.554297  103.925907  101.317538  4.618260
16  113.321072   82.150241  109.020091  101.497135  4.620031
17   94.667911   91.069674   97.259865   94.332483  4.546826
18   87.279324   88.054514  101.571787   92.301875  4.525064
19  104.767773   91.331348   97.798180   97.965767  4.584618
20   99.650035   89.591299  101.232655   96.824663  4.572902